@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode mais de dois elementos)
*/
 
body{
    background-color: rgb(164, 223, 146);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(22, 155, 5);
}

h1#principal{
    text-align: center;
    background-color: rgb(22, 155, 5);
    color: white;
}

h2{
    color: rgb(46, 151, 42);
}

.basico{
    color: rgb(46, 151, 42);
    font-weight: bold;
}

.intermediario{
    color: rgb(151, 144, 42);
}

.avancado{
    color: rgb(151, 42, 42);
}

.destaque{
    background-color: rgba(201, 202, 103, 0.781);
}