@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #02735E, #038C3E);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1a313a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #025951;
    text-align: center;
    text-shadow: 1px 1px 2px #1a313a;
}

h2{
    color: #02735E;
}
p{
    text-align: justify;
}